@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


BODY,TD,SELECT,input,DIV,form,TEXTAREA,center,option,pre,blockquote {  font-family: 'Nanum Gothic', Tahoma; font-size:9pt; letter-spacing: -1px; line-height:150%; }

A {text-decoration:none;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;}

A:link    {color:#252525;text-decoration:none;}
A:visited {color:#252525;text-decoration:none;}
A:active  {color:#252525text-decoration:none;}
A:hover  {color:#252525;text-decoration:none;}

.non {font-family:Tahoma;font-size:7pt;}
.button {font-family:Tahoma; font-size:7pt; letter-spacing: 0px; font-weight:bold;}
.box {text-align:center; font-family:Tahoma; font-size:7pt; letter-spacing:0px;
padding:5px;height:20px;}


.tbstyle {border-radius: 10px; -moz-border-radius:10px;  -webkit-border-radius:10px;
margin:0 auto;
min-height:200px;
height:auto !important;
padding:0px 10px 15px 10px;}


.checkbox{font-family:Tahoma;font-size:7pt;letter-spacing:-1px;}
.checkbox2{width:8px; height:8px; margin:0px; font-size:9px !important;}
.checkbox3{width:11px; height:11px; margin:0px; font-size:9px !important;}

.max2{max-width: 100%;  width:expression(this.clientWidth  > 100 ? "100%" : (this.style.width.trim()  == "auto" ? "auto" : this.style.width));}

.video-container{position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden;} 
.video-container iframe,.video-container object,.video-container embed{position:absolute;top:0;left:0;width:100%;height:100%;} 

a.over:hover{
zoom:1;
opacity:0.7;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; 
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); 
filter: Alpha(Opacity=70);
}

#bn { 
 filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */ 
 filter: gray; /* IE6-9 */ 
 -webkit-filter: grayscale(0%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */ 
} 
#bn:hover {filter:none;-webkit-filter:grayscale(100%);}

.hide {display:none;}
